* {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.text_dec_none {
  text-decoration: none;
}

.clear * {
  box-sizing: border-box;
  outline: none;
}

.label_text {
  margin-left: 30px !important;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 30px;
}

a {
  text-decoration: none;
}

.wrapper {
  background-color: #fff;
  min-height: 100vh;
}

.content_wrapper {
  max-width: 970px;

  margin: auto;
}

.content {
  padding: 20px 8px 20px 8px;

  h1,
  h2,
  h3 {
    margin: 0;
    color: #2d2d2d;
  }
}

.items-block {
  display: flex;
  flex-wrap: wrap;
}

.cart_block_empty {
  background-color: #fff;
  max-width: 774px;
  min-height: 617px;
  margin: auto;
  margin-top: 50px;

  .cart_empty {
    margin: 0 auto;
    width: 560px;
    text-align: center;

    img {
      width: 50px;
    }

    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    i {
      font-style: normal;
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button {
      display: inline-block;
      background-color: #2d2d2d;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 500;
      padding: 5px 10px;
      margin-left: 25%;
      margin-right: 25%;
      min-width: 130px;
      width: 50%;
      height: 40px;
      text-align: center;
      cursor: pointer;
      border: 1px solid transparent;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

      &:hover {
        background-color: #2d2d2de0;
      }

      &:active {
        background-color: #2d2d2da6;
        transform: translateY(1px);
      }
    }
  }
}

.cart_block {
  background-color: #f3f3f3;
  max-width: 774px;
  min-height: 617px;
  margin: auto;

  .cart_empty {
    margin: 0 auto;
    width: 560px;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    i {
      font-style: normal;
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }

  .cart_wrapper {
    padding: 20px 8px 20px 8px;

    h1,
    h2,
    h3 {
      margin: 0;
      color: #2d2d2d;
    }

    .cart-content {
      display: flex;
      flex-direction: column;
      padding: 10px;
      min-height: 425px;
      overflow: hidden;

      .cart_item {
        background-color: #fff;
        display: flex;
        position: relative;
        margin-bottom: 10px;

        .cart_item_image {
          object-fit: cover;
          width: 100px;
          height: 80px;
          margin: 10px;
        }

        .title_button_block {
          position: relative;
          display: block;
          width: 70%;

          .price_text {
            align-items: center;
            padding-top: 7px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            color: #2d2d2d;
          }

          .cart_item_title {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
            margin-top: 5px;
            margin-bottom: 5px;
          }

          .button_block {
            position: absolute;
            display: flex;
            bottom: 0;
            margin-bottom: 10px;
            margin-left: 10px;

            .favorite_heart {
              position: relative;
              margin-top: 10px;
            }
          }
        }

        .remove_button {
          position: absolute;
          cursor: pointer;
          right: 0;
          color: #2d2d2da6;
          margin-top: 10px;
          margin-right: 10px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .accept_block {
    position: relative;
    bottom: 20px;
    background-color: #fff;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 10px;
    height: 80px;
    width: 738px;
    align-items: center;

    &_content_wrapper {
      display: flex;
      padding-top: 10px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      max-width: 678px;
      height: 60px;

      .total_price_block {
        display: flex;
        margin-left: 10px;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;

        .text_label {
          margin-left: 50px;
        }

        .text_price {
          margin-left: 20px;
        }
      }

      .button {
        display: inline-block;
        background-color: #2d2d2d;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 5px 10px;
        width: 250px;
        margin-left: auto;
        margin-right: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
        height: 40px;
        text-align: center;
        cursor: pointer;
        border: 1px solid transparent;
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

        &:hover {
          background-color: #2d2d2de0;
        }

        &:active {
          background-color: #2d2d2da6;
        }
      }
    }
  }
}

.card {
  position: relative;
  border: 1px solid #f3f3f3;
  width: 200px;
  height: 275px;
  margin: 10px 8px 10px 8px;
  padding: 10px;
  background-color: white;

  &_image {
    width: 200px;
    height: 200px;
  }

  &_title {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }

  .favorite_heart {
    position: absolute;
    top: 0px;
    margin-top: 10px;
  }

  .buttonsBlock {
    display: flex;
    position: absolute;
    width: 200px;
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    margin-bottom: 10px;

    .item_price {
      align-items: center;
      padding-top: 7px;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #2d2d2d;
    }
  }
}

.cart_add_button {
  display: inline-block;
  background-color: #2e8e55;
  color: #fff;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 10px;
  width: 90px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:hover {
    background-color: #257545;
  }

  &:active {
    background-color: #1f5f38;
    transform: translateY(1px);
  }
}

.cart_remove_button {
  display: inline-block;
  background-color: #df5b5b;
  color: #fff;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 10px;
  width: 90px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:hover {
    background-color: #c04e4e;
  }

  &:active {
    background-color: #8a3a3a;
    transform: translateY(1px);
  }
}

.categories-search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;

  .search-block {
    display: flex;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;
    margin-left: auto;
    background-color: white;

    .clear {
      position: absolute;
      right: 0;
      width: 12px;
      height: 12px;
      top: 16px;
      right: 15px;
    }

    input {
      border: 0;
      padding: 13px;
      font-size: 16px;
      width: 200px;
    }
  }
}

.header {
  background: #2d2d2d;
  height: 93px;
  position: relative;
  box-sizing: border-box;

  .header-middle {
    display: flex;
    position: relative;
    padding: 16px 0 17px;
    max-width: 940px;
    height: 60px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;

    h3,
    p,
    span {
      margin: 0;
      color: white;
    }

    .logo {
      text-transform: uppercase;
    }

    .cart-block {
      display: flex;
      margin-left: auto;
      height: 30px;

      .cart-icon {
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 5px;
        width: 20px;
        height: 20px;
      }

      span {
        margin-top: 7px;
      }
    }
  }
}

.button {
  display: inline-block;
  background-color: #2d2d2d;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  margin-left: 18.5%;
  margin-right: 18.5%;
  min-width: 130px;
  width: 63%;
  height: 26px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:hover {
    background-color: #2d2d2de0;
  }

  &:active {
    background-color: #2d2d2da6;
    transform: translateY(1px);
  }
}

.user {
  position: relative;

  .user_dropdown_wrapper {
    position: relative;
    z-index: 1;

    .user_dropdown_top {
      width: 33px;
      height: 33px;
    }
    .user_dropdown_content {
      position: absolute;
      right: -140%;
      background: #ffffff;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
      overflow: hidden;
      padding: 10px;
      z-index: 1;
      width: 220px;
      height: auto;

      .header_auth {
        padding: 64px 0 25px 1px;
        text-align: center;

        h3,
        p,
        span {
          margin: 0;
          color: black;
        }

        .logo {
          text-transform: uppercase;
        }
      }

      .field_auth {
        width: 80%;
        position: relative;
        display: block;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 5px;

        .input_label {
          text-transform: uppercase;
          width: 100%;
          min-width: 20%;
          font-size: 12px;
        }

        .input_wrapper {
          position: relative;
          display: block;
          width: 100%;
          margin-top: 2px;

          .email_textbox {
            width: 100%;
            padding: 5px;
            outline: none;
            border: 1px solid #767676;
            box-sizing: border-box;
            font-size: 12px;
          }
        }
      }

      .buttonfield_auth {
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
      }
    }
  }
  .user_dropdown_wrapper-enter {
    opacity: 0;
  }

  .user_dropdown_wrapper-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }

  .user_dropdown_wrapper-exit {
    opacity: 1;
  }

  .user_dropdown_wrapper-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }
}

.text-decoration-none {
  text-decoration: none;
}

.categories {
  max-width: 700px;

  ul {
    display: flex;
    padding-left: 20px;

    li {
      background-color: #f9f9f9;
      padding: 13px 20px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      list-style-type: none;

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #2d2d2d;
        color: #fff;
      }
    }
  }
}

.item_content {
  margin: 40px 60px 0 60px;
  display: flex;

  .detail_img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .currentImg {
    width: 400px;
    height: 500px;
    margin-left: 30px;
  }

  .item_details {
    position: relative;
    margin-left: 30px;

    .detail_title {
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 1px;
      margin: 20px 0 15px 0;
      color: #2d2d2d;
    }

    .detail_price {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #6e6e6e;
      margin-bottom: 15px;
    }

    > p {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 900;
      color: #6e6e6e;
      margin-bottom: 5px;
    }

    .detail_description {
      margin-bottom: 15px;
    }

    .buttons {
      max-width: 100%;
      position: absolute;
      bottom: 0;
      align-items: center;
      padding: 0 4px;

      .detail_sizes {
        display: flex;
        background-color: #f3f3f3;
        flex-direction: column;
        padding: 4px;
        margin-bottom: 20px;

        ul {
          display: flex;
          flex: 1;

          li {
            text-align: center;
            list-style-type: none;
            padding: 8px;
            flex: 1;
            cursor: pointer;
            font-weight: normal;
            font-size: 14px;

            &.active {
              background: #ffffff;
              font-weight: 600;

              cursor: auto;
            }
          }
        }
      }

      .add_buttons {
        display: flex;

        .cart_add_button_detail {
          display: inline-block;
          background-color: #2e8e55;
          color: #fff;
          text-transform: uppercase;
          margin-right: 10px;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 2px;
          padding: 5px 10px;
          width: 230px;
          height: 40px;
          text-align: center;
          cursor: pointer;
          border: 1px solid transparent;
          transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

          &:hover {
            background-color: #257545;
          }

          &:active {
            background-color: #1f5f38;
            transform: translateY(1px);
          }
        }

        .cart_remove_button_detail {
          display: inline-block;
          background-color: #df5b5b;
          color: #fff;
          text-transform: uppercase;
          margin-right: 10px;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 2px;
          padding: 5px 10px;
          width: 230px;
          height: 40px;
          text-align: center;
          cursor: pointer;
          border: 1px solid transparent;
          transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

          &:hover {
            background-color: #c04e4e;
          }

          &:active {
            background-color: #8a3a3a;
            transform: translateY(1px);
          }
        }

        .favorite_heart {
          cursor: pointer;
        }
      }
    }
  }
}
